body {
	font: 10px sans-serif;
}

.axis line, .axis path {
	shape-rendering: crispEdges;
	stroke: black;
	fill: none;
}

.line {
	fill: none;
	stroke-width: 1.5px;
}

.ICD10-00 {
	stroke: steelblue;
}

.ICD10-01 {
	stroke: pink;
}

.femaleDot {
	fill: white;
	stroke: gray;
	stroke-width: 1.5px;
}

.maleDot {
	fill: white;
	stroke: gray;
	stroke-width: 1.5px;
}

.axisLable {
	font: 14px Arial;
	text-anchor: middle;
	font-weight: bold;
}

input[type="range"] {
	width: 900px;
	margin-left: 60px;
	margin-top: 50px;
}